// Primary colors DO NOT ADD MORE 

$black: #232323;
$charcoal: #333333;

$gray: #cccccc;
$lightGray: #e1e1e1;

$white: #fff;
$offWhite: #f0f0f0;

$red: #bb1834;
$blue: #3a8fd2;
$darkGray: #666666;
// Element specific colors DO NOT ADD MORE
$lineGray: #4c4c4c;
