#global_header {
	@include span-columns(1);
	float: left;
	width: 130px;
	margin-right: 0;
	text-align: center;

	@include media($tablet) {
		@include span-columns(8);
		@include clearfix;
		border-bottom: 10px solid $red;
		background: $white;
		z-index: 1;
	}
	
	@media only screen
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
		padding: 0 100px;
	}


	.logo {
		display: inline-block;
		padding: 18px 25px;
		background-color: $white;

		@include media($tablet) {
			float: right;
			padding: 15px;
		}
		
		@media only screen
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
			padding: 10px !important;
		}

		.desktop_logo {

			@include media($tablet) {
				display:  none;
			}
			
			@media only screen
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				display: block !important;
				width: 70% !important;
			}
		}

		.mobile_logo {
			display: none;

			@include media($tablet) {
				display: inline-block;
			}
			
			@media only screen
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				display: none !important;
			}
		}
	}
	
	.menu {
		border-top: 5px solid $red;
		background-color: $charcoal;
		height: 100%;

		@include media($tablet) {
			display:  none;
		}
		
		ul {
			list-style: none;
			
			li {
				border-bottom: 1px solid $lineGray;
				
				a {
					display: inline-block;
					width: 100%;
					text-transform: uppercase;
					color: #b1b1b1;
					font-size: 14px;
					padding: 80px 0 25px 0;
					background-repeat: no-repeat;
					background-position: 50% 30%;
					
					&.why {
						background-image: url(../images/why-icon.png);
						background-position: 50% 30%; 
						
						&:hover {
							background-image: url(../images/why-icon-hover.png);
						}

						&.active {
							background-image: url(../images/why-icon-hover.png);
							background-color: #1c1c1c;
						}
					}
					
					&.products {
						background-image: url(../images/products-icon.png);
						background-position: 50% 33%; 
						
						&:hover {
							background-image: url(../images/products-icon-hover.png);
						}

						&.active {
							background-image: url(../images/products-icon-hover.png);
							background-color: #1c1c1c;
						}
					}
					
					&.pro {
						background-image: url(../images/pro-icon.png);
						background-position: 50% 33%; 
						
						&:hover {
							background-image: url(../images/pro-icon-hover.png);
						}

						&.active {
							background-image: url(../images/pro-icon-hover.png);
							background-color: #1c1c1c;
						}
					}
					
					&.where {
						background-image: url(../images/where-icon.png);
						background-position: 50% 33%; 
						
						&:hover {
							background-image: url(../images/where-icon-hover.png);
						}

						&.active {
							background-image: url(../images/where-icon-hover.png);
							background-color: #1c1c1c;
						}
					}
					
					&.newsletter {
						background-image: url(../images/letter-icon.png);
						background-position: 50% 35%; 
						
						&:hover {
							background-image: url(../images/letter-icon-hover.png);
						}

						&.active {
							background-image: url(../images/letter-icon-hover.png);
							background-color: #1c1c1c;
						}
					}

				}
			}
		}
	}

	.mobile_menu_icon {
		position: absolute;
		top: 48%;
		left: 12px;
		display: none;

		@include media($tablet) {
			display: block;
		}
		
		@media only screen
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
			width: 4%;
			top: 20px;
			left: 30px;
		}
		
		@media only screen
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) {
			left: 100px;
		}
	}
}

.mobile_menu {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 320px;
	background: $charcoal;
	left: 320px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-backface-visibility:hidden;
    -webkit-perspective: 200;
    
    @media only screen
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) {
		//width: 280px;
	}

	&.menu_open {
		display: none;

		@include media($tablet) {
			display: block;
		}
	}

	ul {
		list-style: none;
		height: 100%;
		overflow: scroll;

		li {
			padding: 15px;
			border-bottom: 1px solid $lineGray;
			
			@media only screen
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				padding: 10px;
			}

			&:first-child {
				border-bottom: 7px solid $lineGray;
				background: $black;
				padding-top: 10px;
			}
			
			&.active {
				background-color: $black;
			}

			a {
				font-size: 18px;
				display: inline-block;
				text-transform: uppercase;
				color: $gray;
				text-indent: 94px;
				height: 75px;
				width: 100%;
				padding-top: 28px;
				background-repeat: no-repeat;
				
				@media only screen
				and (min-device-width : 768px) 
				and (max-device-width : 1024px) 
				and (orientation : landscape) {
					height: 55px;
					padding-top: 20px;
					font-size: 14px;
					text-indent: 80px;
				}

				&.home {
					background-image: url(../images/mobile-home-active.png);
					background-color: $black;
					background-position: 20px 36px;
					
					@media only screen
					and (min-device-width : 768px) 
					and (max-device-width : 1024px) 
					and (orientation : landscape) {
						background-size: 10%;
						background-position: 20px 30px;
					}
				}

				&.why {
					background-image: url(../images/mobile-why-icon.png);
					background-position: 20px 0;
					
					@media only screen
					and (min-device-width : 768px) 
					and (max-device-width : 1024px) 
					and (orientation : landscape) {
						background-size: 10%;
					}
					
					&.active {
						background-image: url(../images/mobile-why-icon-active.png);
						
						@media only screen
						and (min-device-width : 768px) 
						and (max-device-width : 1024px) 
						and (orientation : landscape) {
							background-size: 10%;
						}
					}
				}

				&.products {
					background-image: url(../images/mobile-products-icon.png);
					background-position: 25px 8px;
					
					@media only screen
					and (min-device-width : 768px) 
					and (max-device-width : 1024px) 
					and (orientation : landscape) {
						background-size: 6%;
					}
					
					&.active {
						background-image: url(../images/mobile-products-icon-active.png);
						
						@media only screen
						and (min-device-width : 768px) 
						and (max-device-width : 1024px) 
						and (orientation : landscape) {
							background-size: 6%;
						}
					}
				}

				&.where {
					background-image: url(../images/mobile-where-icon.png);
					background-position: 22px 12px;
					
					@media only screen
					and (min-device-width : 768px) 
					and (max-device-width : 1024px) 
					and (orientation : landscape) {
						background-size: 8%;
					}
					
					&.active {
						background-image: url(../images/mobile-where-icon-active.png);
						
						@media only screen
						and (min-device-width : 768px) 
						and (max-device-width : 1024px) 
						and (orientation : landscape) {
							background-size: 8%;
						}
					}
				}

				&.newsletter {
					background-image: url(../images/mobile-newsletter-icon.png);
					background-position: 22px;
					
					@media only screen
					and (min-device-width : 768px) 
					and (max-device-width : 1024px) 
					and (orientation : landscape) {
						background-size: 8%;
					}
					
					&.active {
						background-image: url(../images/mobile-newsletter-icon-active.png);
						
						@media only screen
						and (min-device-width : 768px) 
						and (max-device-width : 1024px) 
						and (orientation : landscape) {
							background-size: 8%;
						}
					}
				}
			}
		}
	}
}